@font-face {
  font-family: "Avenir-Book";
  src: local("Avenir-Book"),
    url("./fonts/Avenir-Book.ttf") format("truetype");
}

@font-face {
  font-family: "Avenir-Heavy";
  src: local("Avenir-Heavy"),
    url("./fonts/Avenir-Heavy.ttf") format("truetype");
}

.App {
  text-align: center;
}